<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/css/Adminpro.css">
</head>
<body>
    <section>
        <div class="nav">
                <ul>
                   
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="titulo">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminperfiles">
                            <span class="icono"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="titulo">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminprod">
                            <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                            <span class="titulo">Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promocion">
                            <span class="icono"><ion-icon name="megaphone-outline"></ion-icon></span>
                            <span class="titulo">Promociones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/consultas">
                            <span class="icono"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="titulo">Consultas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/orden">
                            <span class="icono"><ion-icon name="clipboard-outline"></ion-icon></span>
                            <span class="titulo">Ordenes Compra</span>
                        </a>
                    </li>
                    <li>
                        <a href="/venta">
                            <span class="icono"><ion-icon name="bag-handle-outline"></ion-icon></span>
                            <span class="titulo">Ventas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/devolucion">
                            <span class="icono"><ion-icon name="swap-horizontal-outline"></ion-icon></span>
                            <span class="titulo">Devoluciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/proveedor">
                            <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="titulo">Proveedores</span>
                        </a>
                    </li>
                </ul>
            </div>

        <div class="container">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>

                <div class="buscar">
                    <label for="">
                        <input type="text" placeholder="Buscar..." name="" id="">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                <div class="perfil-usuario">
                    <img src="/files/img/IMG/Sample_User_Icon.png" alt="">
                </div>
            </div>

            <div class="detalles">
                <div class="ordenes-recientes">
                    <div class="header">
                        <h2>Devoluciones</h2>
                        <a href="/formdevolucion" class="boton">Añadir Devolucion</a>
                    </div>
                    <table>
                        <thead>
                            <th>ID Devolucion</th>
                            <th>Fecha</th>
                            <th>Cantidad devuelta ($)</th>
                            <th>Motivo</th>
                            <th>ID Cliente</th>
                            <th>ID Produto</th>
                            <th>ID Orden</th>
                            
                        </thead>
                        <tbody>
                            {{#each productos}}
                                <tr>
                                    <td>{{this.ID_Devolucion}}</td>
                                    <td>{{this.Fecha}}</td>
                                    <td>${{this.Cantidad}}</td>
                                    <td>{{this.Motivo}}</td>
                                    <td>{{this.ID_Cliente}}</td>
                                    <td>{{this.ID_Producto}}</td>
                                    <td>{{this.ID_Orden}}</td>
                                    <td><a href="/formeditdevolucion?ID_Devolucion={{ID_Devolucion}}"><button class="estatus pendiente">Editar</button></a></td>
                                    <td><a href="/eliminarpro?ID_Producto={{ID_Producto}}"><button class="estatus devuelto">Eliminar</button></a></td>
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="7">No hay devolucion registradas.</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
