<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/files/css/Adminpro.css">
</head>
<body>
    <section>
        <div class="nav">

                <ul>
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="aperture-outline"></ion-icon></span>
                            <span class="titulo">Aura's</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span class="icono"><ion-icon name="home-outline"></ion-icon></span>
                            <span class="titulo">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminperfiles">
                            <span class="icono"><ion-icon name="people-outline"></ion-icon></span>
                            <span class="titulo">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Adminprod">
                            <span class="icono"><ion-icon name="cart-outline"></ion-icon></span>
                            <span class="titulo">Productos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/promocion">
                            <span class="icono"><ion-icon name="megaphone-outline"></ion-icon></span>
                            <span class="titulo">Promociones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/consultas">
                            <span class="icono"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="titulo">Consultas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/orden">
                            <span class="icono"><ion-icon name="clipboard-outline"></ion-icon></span>
                            <span class="titulo">Ordenes Compra</span>
                        </a>
                    </li>
                    <li>
                        <a href="/venta">
                            <span class="icono"><ion-icon name="bag-handle-outline"></ion-icon></span>
                            <span class="titulo">Ventas</span>
                        </a>
                    </li>
                    <li>
                        <a href="/devolucion">
                            <span class="icono"><ion-icon name="swap-horizontal-outline"></ion-icon></span>
                            <span class="titulo">Devoluciones</span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <span class="icono"><ion-icon name="log-out-outline"></ion-icon></span>
                            <span class="titulo">Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>

        <div class="container">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu"></ion-icon>
                </div>

                <div class="buscar">
                    <label for="">
                        <input type="text" placeholder="Buscar..." name="" id="">
                        <ion-icon name="search"></ion-icon>
                    </label>
                </div>
                <div class="perfil-usuario">
                    <img src="/files/img/IMG/Sample_User_Icon.png" alt="">
                </div>
            </div>

            <div class="detalles">
                <div class="ordenes-recientes">
                    <div class="header">
                        <h2>Ventas</h2>
                        <a href="/formventa" class="boton">Añadir Venta</a>
                    </div>
                    <table>
                        <thead>
                            <th>ID Venta</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Metodo de pago</th>
                            <th>ID Cliente</th>
                        </thead>
                        <tbody>
                            {{#each productos}}
                                <tr>
                                    <td>{{this.ID_Venta}}</td>
                                    <td>{{this.Fecha}}</td>
                                    <td>${{this.Total}}</td>
                                    <td>{{this.Metodo_Pago}}</td>
                                    <td>{{this.ID_Cliente}}</td>
                                    
                                </tr>
                            {{else}}
                                <tr>
                                    <td colspan="4">No hay ventas disponibles.</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
